$breakpoint-desk: 1280px;
$breakpoint-tab: 768px;
$breakpoint-mob: 320px;

:root {
  --accent: #7B61FF;
  --divider: #ACA7C3;
  --high: #FF2B77;
  --low: #6BD475;
  --title: #1C1B1F;
  --text: #49454F;
  --primary-text: #3f3f3f;
}